<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.0.xsd
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd">
		
		<context:component-scan base-package="com.proyectodegrado.sgti" />
		
		<!-- Bean de conexion a la base de datos -->
		<bean id="conexionBD" class="com.proyectodegrado.sgti.conexionbd.Conexion"/>
		
		<!-- Beans de consulta a la base de datos -->
		<bean id="consultasTipoHora" class="com.proyectodegrado.sgti.consultas.ConsultasTipoHora">
			<property name="conexionBD" ref="conexionBD"/>
		</bean>
		
		<bean id="consultasUsuario" class="com.proyectodegrado.sgti.consultas.ConsultasUsuario">
			<property name="conexionBD" ref="conexionBD"/>
		</bean>
		
		<bean id="consultasCliente" class="com.proyectodegrado.sgti.consultas.ConsultasCliente">
			<property name="conexionBD" ref="conexionBD"/>
		</bean>
		
		<bean id="consultasConfiguracion" class="com.proyectodegrado.sgti.consultas.ConsultasConfiguracion">
			<property name="conexionBD" ref="conexionBD"/>
		</bean>
		
		<bean id="consultasHorarioLaboral" class="com.proyectodegrado.sgti.consultas.ConsultasHorarioLaboral">
			<property name="conexionBD" ref="conexionBD"/>
		</bean>
		
		<bean id="consultasPrecio" class="com.proyectodegrado.sgti.consultas.ConsultasPrecio">
			<property name="conexionBD" ref="conexionBD"/>
		</bean>
		
		<bean id="consultasContratoTipoHora" class="com.proyectodegrado.sgti.consultas.ConsultasContratoTipoHora">
			<property name="conexionBD" ref="conexionBD"/>
		</bean>
		
		<bean id="consultasContrato" class="com.proyectodegrado.sgti.consultas.ConsultasContrato">
			<property name="conexionBD" ref="conexionBD"/>
		</bean>
		
		<bean id="consultasActividad" class="com.proyectodegrado.sgti.consultas.ConsultasActividad">
			<property name="conexionBD" ref="conexionBD"/>
		</bean>
		
		<bean id="consultasHora" class="com.proyectodegrado.sgti.consultas.ConsultasHora">
			<property name="conexionBD" ref="conexionBD"/>
		</bean>
		
		<!-- Beans de DAOs -->
		<bean id="tipoHoraDao" class="com.proyectodegrado.sgti.daos.TipoHoraDAO">
			<property name="consultasTipoHora" ref="consultasTipoHora"/>
		</bean>
		
		<bean id="usuarioDao" class="com.proyectodegrado.sgti.daos.UsuarioDAO">
			<property name="consultasUsuario" ref="consultasUsuario"/>
			<property name="consultasTipoHora" ref="consultasTipoHora"/>
		</bean>
		
		<bean id="clienteDao" class="com.proyectodegrado.sgti.daos.ClienteDAO">
			<property name="consultasCliente" ref="consultasCliente"/>
		</bean>
		
		<bean id="configuracionDao" class="com.proyectodegrado.sgti.daos.ConfiguracionDAO">
			<property name="consultasConfiguracion" ref="consultasConfiguracion"/>
		</bean>
		
		<bean id="horarioLaboralDao" class="com.proyectodegrado.sgti.daos.HorarioLaboralDAO">
			<property name="consultasHorarioLaboral" ref="consultasHorarioLaboral"/>
		</bean>
		
		<bean id="precioDao" class="com.proyectodegrado.sgti.daos.PrecioDAO">
			<property name="consultasPrecio" ref="consultasPrecio"/>
		</bean>
		
		<bean id="contratoTipoHoraDao" class="com.proyectodegrado.sgti.daos.ContratoTipoHoraDAO">
			<property name="consultasContratoTipoHora" ref="consultasContratoTipoHora"/>
			<property name="tipoHoraDao" ref="tipoHoraDao"/>
		</bean>
		
		<bean id="contratoDao" class="com.proyectodegrado.sgti.daos.ContratoDAO">
			<property name="consultasContrato" ref="consultasContrato"/>
			<property name="configuracionDao" ref="configuracionDao"/>
			<property name="horarioLaboralDao" ref="horarioLaboralDao"/>
			<property name="precioDao" ref="precioDao"/>
			<property name="contratoTipoHoraDao" ref="contratoTipoHoraDao"/>
			<property name="clienteDao" ref="clienteDao"/>
			<property name="usuarioDao" ref="usuarioDao"/>
		</bean>
		
		<bean id="actividadDao" class="com.proyectodegrado.sgti.daos.ActividadDAO">
			<property name="consultasActividad" ref="consultasActividad"/>
		</bean>
		
		<bean id="horaDao" class="com.proyectodegrado.sgti.daos.HoraDAO">
			<property name="consultasHora" ref="consultasHora"/>
			<property name="tipoHoraDao" ref="tipoHoraDao"/>
		</bean>
		
		<!-- Beans de servicios -->
		<bean id="servicioTipoHora" class="com.proyectodegrado.sgti.servicios.impl.ServicioTipoHoraImpl">
			<property name="tipoHoraDao" ref="tipoHoraDao"/>
		</bean>
		
		<bean id="servicioUsuario" class="com.proyectodegrado.sgti.servicios.impl.ServicioUsuarioImpl">
			<property name="usuarioDao" ref="usuarioDao"/>
		</bean>
		
		<bean id="servicioUsuarioSocio" class="com.proyectodegrado.sgti.servicios.impl.ServicioUsuarioSocioImpl" 
			parent="servicioUsuario"/>
		
		<bean id="servicioUsuarioTecnico" class="com.proyectodegrado.sgti.servicios.impl.ServicioUsuarioTecnicoImpl" 
			parent="servicioUsuario"/>
			
		<bean id="servicioUsuarioContraparte" class="com.proyectodegrado.sgti.servicios.impl.ServicioUsuarioContraparteImpl" 
			parent="servicioUsuario"/>
			
		<bean id="servicioCliente" class="com.proyectodegrado.sgti.servicios.impl.ServicioClienteImpl">
			<property name="clienteDao" ref="clienteDao"/>
		</bean>
		
		<bean id="servicioHorarioLaboral" class="com.proyectodegrado.sgti.servicios.impl.ServicioHorarioLaboralImpl">
			<property name="horarioLaboralDao" ref="horarioLaboralDao"/>
		</bean>
		
		<bean id="servicioConfiguracion" class="com.proyectodegrado.sgti.servicios.impl.ServicioConfiguracionImpl">
			<property name="configuracionDao" ref="configuracionDao"/>
			<property name="servicioHorarioLaboral" ref="servicioHorarioLaboral"/>
		</bean>
		
		<bean id="servicioPrecio" class="com.proyectodegrado.sgti.servicios.impl.ServicioPrecioImpl">
			<property name="precioDao" ref="precioDao"/>
		</bean>
		
		<bean id="servicioContratoTipoHora" class="com.proyectodegrado.sgti.servicios.impl.ServicioContratoTipoHoraImpl">
			<property name="contratoTipoHoraDao" ref="contratoTipoHoraDao"/>
		</bean>
		
		<bean id="servicioContrato" class="com.proyectodegrado.sgti.servicios.impl.ServicioContratoImpl">
			<property name="contratoDao" ref="contratoDao"/>
			<property name="servicioConfiguracion" ref="servicioConfiguracion"/>
			<property name="servicioPrecio" ref="servicioPrecio"/>
			<property name="servicioContratoTipoHora" ref="servicioContratoTipoHora"/>
			<property name="servicioHorarioLaboral" ref="servicioHorarioLaboral"/>
			<property name="servicioCliente" ref="servicioCliente"/>
			<property name="servicioUsuarioContraparte" ref="servicioUsuarioContraparte"/>
		</bean>
		
		<bean id="servicioActividad" class="com.proyectodegrado.sgti.servicios.impl.ServicioActividadImpl">
			<property name="actividadDao" ref="actividadDao"/>
		</bean>
		
		<bean id="servicioHora" class="com.proyectodegrado.sgti.servicios.impl.ServicioHoraImpl">
			<property name="horaDao" ref="horaDao"/>
			<property name="servicioConfiguracion" ref="servicioConfiguracion"/>
			<property name="servicioContrato" ref="servicioContrato"/>
		</bean>
		
		<bean id="servicioNotificacion" class="com.proyectodegrado.sgti.servicios.impl.ServicioNotificacionImpl">
			<property name="servicioContrato" ref="servicioContrato"/>
			<property name="servicioPrecio" ref="servicioPrecio"/>
			<property name="servicioConfiguracion" ref="servicioConfiguracion"/>
			<property name="servicioHora" ref="servicioHora"/>
			<property name="servicioActividad" ref="servicioActividad"/>
		</bean>
		
		<!-- Fachadas -->
		
		<bean id="fachadaTipoHora" class="com.proyectodegrado.sgti.fachada.FachadaTipoHora">
			<property name="servicioTipoHora" ref="servicioTipoHora"/>
			<property name="servicioContratoTipoHora" ref="servicioContratoTipoHora"/>
		</bean>
		
		<bean id="fachadaCliente" class="com.proyectodegrado.sgti.fachada.FachadaCliente">
			<property name="servicioCliente" ref="servicioCliente"/>
		</bean>
		
		<bean id="fachadaUsuario" class="com.proyectodegrado.sgti.fachada.FachadaUsuario">
			<property name="servicioUsuario" ref="servicioUsuario"/>
			<property name="servicioUsuarioSocio" ref="servicioUsuarioSocio"/>
			<property name="servicioUsuarioTecnico" ref="servicioUsuarioTecnico"/>
			<property name="servicioUsuarioContraparte" ref="servicioUsuarioContraparte"/>
			<property name="servicioTipoHora" ref="servicioTipoHora"/>
		</bean>
		
		<bean id="fachadaContrato" class="com.proyectodegrado.sgti.fachada.FachadaContrato">
			<property name="servicioUsuario" ref="servicioUsuario"/>
			<property name="servicioContrato" ref="servicioContrato"/>
			<property name="servicioCliente" ref="servicioCliente"/>
		</bean>
		
		<bean id="fachadaPrecio" class="com.proyectodegrado.sgti.fachada.FachadaPrecio">
			<property name="servicioPrecio" ref="servicioPrecio"/>
		</bean>
		
		<bean id="fachadaConfiguracion" class="com.proyectodegrado.sgti.fachada.FachadaConfiguracion">
			<property name="servicioConfiguracion" ref="servicioConfiguracion"/>
			<property name="servicioHorarioLaboral" ref="servicioHorarioLaboral"/>
		</bean>
		
		<bean id="fachadaHorarioLaboral" class="com.proyectodegrado.sgti.fachada.FachadaHorarioLaboral">
			<property name="servicioHorarioLaboral" ref="servicioHorarioLaboral"/>
		</bean>
		
		<bean id="fachadaActividad" class="com.proyectodegrado.sgti.fachada.FachadaActividad">
			<property name="servicioActividad" ref="servicioActividad"/>
		</bean>
		
		<bean id="fachadaHora" class="com.proyectodegrado.sgti.fachada.FachadaHora">
			<property name="servicioHora" ref="servicioHora"/>
			<property name="servicioContrato" ref="servicioContrato"/>
		</bean>
		
		<bean id="fachadaNotificacion" class="com.proyectodegrado.sgti.fachada.FachadaNotificacion">
			<property name="servicioNotificacion" ref="servicioNotificacion"/>
		</bean>
		
</beans>