<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
		
		<bean id="conexionBD" class="com.proyectodegrado.sgti.conexionbd.Conexion"/>
		
		<bean id="consultasTipoHora" class="com.proyectodegrado.sgti.consultas.ConsultasTipoHora">
			<property name="conexionBD" ref="conexionBD"/>
		</bean>
		
		<bean id="tipoHoraDao" class="com.proyectodegrado.sgti.daos.TipoHoraDAO">
			<property name="consultasTipoHora" ref="consultasTipoHora"/>
		</bean>
		
		<bean id="servicioTipoHora" class="com.proyectodegrado.sgti.servicios.impl.ServicioTipoHoraImpl">
			<property name="tipoHoraDao" ref="tipoHoraDao"/>
		</bean>
		
</beans>